
navbar{

    background-color: white;
    color: rgb(193, 141, 141);

}
.nav-link{
    color: rgb(193, 141, 141);
    font-size: 20px;
    font-weight: 800;
    
}
.img-1{

    height: 400px;
    width: 400px;
    margin-top: 20px;
    margin-right: 70px;
    
    border-radius: 100%;
    background-color: rgb(205, 76, 76)
}
.nav-link{
    margin-left: 50PX;
    margin-right: 50PX;
}

    



    







    
    


